.carousel {
    background:#512DA8;
}

.carousel-item {
  height: 300px;
  
  
}

.carousel-item img {
    
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
}
.container
{
    
    margin-bottom: 20px;
}
.btn{
    min-width: 200px;
    
}
img{
    height: 150px;
    width:250px;
}