.carousel {
    background:#512DA8;
}

.carousel-item {
  height: 250px;
  
  
}

.carousel-item img {
    
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
}

.container{
   
    min-width: 90%;
}
.btn{
    min-width: 200px;
    
}
img{
    height: 100%;
    width:100%;
}

.jumbotron{
    background-color: black;
   
}





