
<footer class="footer text-light">
    <div class="container">
        <div class="row">
            
            <div class="col-sm-4 offset-sm-4">
                <h5>Our Address</h5>
                <address>
                    37, AF Block,Sector 1<br>
                    Ashiyana Nagar, Patna<br>
                    BIHAR,INDIA<br>
                    <i class="fa fa-phone fa-lg"></i>: +852 1234 5678<br>
                    <i class="fa fa-fax fa-lg"></i>: +852 8765 4321<br>
                    <i class="fa fa-envelope fa-lg"></i>: <a href="mailto:travelservice@history.net">travelservice@history.net</a>
                </address>
            </div>
            <div class="col-sm-4 align-self-center">
                <div style="text-align:center">
                    <a class="btn btn-social-icon btn-google btn-lg" href="http://google.com/"><i class="fa fa-google"></i></a>
                    <a class="btn btn-social-icon btn-facebook btn-lg" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
                    <a class="btn btn-social-icon btn-linkedin btn-lg" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
                    <a class="btn btn-social-icon btn-twitter btn-lg" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                    <a class="btn btn-social-icon btn-instagram btn-lg" href="http://instagram.com/"><i class="fa fa-instagram"></i></a>
                    <a class="btn btn-social-icon btn-lg" href="mailto:"><i class="fa fa-envelope-o"></i></a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <p>© Copyright 2015 Travel History Service</p>
            </div>
        </div>
    </div>
</footer>
