<div [hidden]="!submission">
  <h1>Journey Added Succesfully!!</h1>
  
  <li class="list-inline-item">
    <button (click)="addJourneyform()"class="btn btn-primary">Add More Journey</button>
  </li>
    <li class="list-inline-item">
    <a routerLink="/home" class="btn btn-info">Home</a>
    </li>
</div>
<div class="row">
  <div class="col-2"></div>
<div class="card my-5 col-8"[hidden]="submission">
    <div class="card-body">
      <form (ngSubmit)="onSubmit(travelForm)" #travelForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" [(ngModel)]="travel.name" 
            class="form-control" 
            id="name" 
            name="name" 
            placeholder="Enter your name"
            required #name="ngModel">
        </div>
        <div [hidden]="name.dirty||!name.touched" class="alert alert-danger">Name is required</div>
        <div class="form-group">
            <label for="src">Source</label>
            <input type="text" [(ngModel)]="travel.src" 
              class="form-control" 
              id="src" 
              name="src" 
              placeholder="Source Country"
              required #src="ngModel">
        </div>
          <div [hidden]="src.dirty||!src.touched" class="alert alert-danger">Source is required</div>
        <div class="form-group">
            <label for="des">Destination</label>
            <input type="text" [(ngModel)]="travel.des" 
              class="form-control" 
              id="des" 
              name="des" 
              placeholder="Destination Country"
               #des="ngModel">
        </div>
        <div class="form-group">
            <label for="st">Start Date</label>
            <input type="date" [(ngModel)]="travel.st" 
              class="form-control" 
              id="st" 
              name="st" 
              placeholder="Journey Start Date"
              required #st="ngModel">
        </div>
          <div [hidden]="st.dirty||!st.touched" class="alert alert-danger">startDate is required</div>
        <div class="form-group">
            <label for="en">End Date</label>
            <input type="date" [(ngModel)]="travel.en" 
              class="form-control" 
              id="en" 
              name="en" 
              placeholder="End Date"
               #en="ngModel">
        </div>

        <li class="list-inline-item">
        <button type="submit" [disabled]="!travelForm.form.valid" 
          class="btn btn-info">Submit</button>
        </li>
          <li class="list-inline-item">
            <a routerLink="/home" class="btn btn-info">Cancel</a>
          </li>
      </form>
    </div>
  </div>
</div>