<nav class="navbar navbar-expand navbar-light bg-secondary ">
    <ul class="nav navbar-nav" >
        <li class="nav-item"*ngFor="let link of links">
           <a class="nav-link" [routerLink]="link.path"><h3><strong>{{link.title}}</strong></h3></a>
        </li>
        
    </ul>
    <form class="form-inline"(ngSubmit)="onSubmit()" #countryForm="ngForm">
          <input type="text" [(ngModel)]="country.name" 
            class="form-control mr-sm-4" 
            id="name" 
            name="name" 
            placeholder="Search By Destination"
            #name="ngModel">
            
        <button type="submit" class="btn btn-success ">Search</button>
      </form>
    <li class="list-inline-item">
        <button (click)="_userService.logout()"class="btn btn-danger btn-lg">Logout</button>
    </li>
</nav>